
.text {
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cards div {
    margin: 100px;
    padding: 20px;
    width: 20%;
    height: 200px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .22);
}

.cards div h4 {
    text-align: center;
}